<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.androidexample.camera"
      android:versionCode="1"
      android:versionName="1.0">
    
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--  
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
-->	
    <!-- For android.media.audiofx.Visualizer -->
<!--      <uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
    <!-- We will request access to the camera, saying we require a camera
         of some sort but not one with auto focus capability. -->
    <uses-permission android:name="android.permission.CAMERA" />
<!--      <uses-permission android:name="com.sonyericsson.permission.CAMERA_EXTENDED" /> -->
    <uses-feature android:name="android.hardware.camera" /> 

    <application android:icon="@drawable/icon" 
        android:label="@string/app_name"
        android:allowBackup="true">
        <activity android:name="com.androidexample.camera.VideoCameraActivity"
                  android:label="@string/app_name">            
<!--  fix the orientation of screen to portrait/landscape             
                  android:screenOrientation="landscape" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" 
                 android:label="@string/menu_settings" >           
            <intent-filter>
                <action android:name="com.example.custompreference.PREFS" />               
                <category android:name="android.intent.category.DEFAULT" /> 
            </intent-filter>
        </activity>
    </application>
</manifest>